################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/ImageServer/Properties/PublishProfiles
.vscode/
